src/main/resources/category.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:st="http://www.sergeysemenov.ru/soap_test/product"
        targetNamespace="http://www.sergeysemenov.ru/soap_test/category" elementFormDefault="qualified">

    <xs:import schemaLocation="product.xsd" namespace="http://www.sergeysemenov.ru/soap_test/product"/>


    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="products" maxOccurs="unbounded" type="st:product"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>